html, body {
    height: 100%;
}


.content {
    width: 100%;
    height: 100%;
}

.navbar.navbar, .navbar-default.navbar {
    background-color: #2F2F2F;
    margin: 0;
}

/* transparency block */
#transp {
    background-color: #FEC207;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50px;
    left: 0px;
    opacity: 0.8;
    z-index: 10;
}

/* text overlay for transparency block */ 
#findsearch {
    color: #000;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50px;
    left: 0;
    z-index: 20;
}

#centermarker {
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url('/img/marker.png');
    background-color: #0f0;
    top: 50%;
    left: 50%;
    z-index: 30;
}

.map-div {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('/img/placeholder.jpg');
}
