<template name="giveride">
  <form id="giveride-form" class="ui form">
    <div class="field">
      <label>Rider</label>
      <input type="text" name="rider">
    </div>
    <div class="field">
      <label>From</label>
      <input id="rideFrom" type="text" name="rideFrom">
    </div>
    <div class="field">
      <label>To</label>
      <input type="text" name="rideTo">
    </div>
    <div class="field">
      <input type="submit" class="ui button" value="Save"/>
            </div>
  </form>
</template>
