<head>
  <title>S-Miles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
</body>

<template name="layout">
  <div class="ui green inverted menu">
    <a class="active item" href="/home">
      <i class="home icon"></i> Home
    </a>
    <a class="item" href="/wantride">
      <i class="mail icon"></i> Want ride
    </a>
    <a class="item" href="/giveride">
      <i class="user icon"></i> Give ride
    </a>
  </div>

  {{> yield}}
</template>
